---
layout: archive
title: Blog Archive
permalink: /blog/
---

{% for post in site.blog reversed %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    

    <ul>
    {% assign date = currentdate %}
  {% endif %}


	<li class="archive-item">
    	<div class="row">
    		<div class="col-lg-8">
    			<div class="archive-post-title">
    				<a href="{{ post.url }}">{{ post.title | truncate:40 }}</a>
    			</div>
    		</div>
    		<div class="col-lg-4 text-lg-right archive-faint archive-small">
    			<i class="far fa-clock text-right mt-auto"></i> 1 minute read
    		</div>
    		
    	</div>
    	<div class="archive-post-excerpt">
    		{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }} 
    	</div>
    	<div class="archive-faint archive-small">
    		<i class="far fa-calendar"></i> Posted on {{ post.date | date: "%-d %B %Y" }}
    	</div>
    	<hr>
    </li>



  {% if forloop.last %}</ul>{% endif %}
{% endfor %}


