---
layout: default
permalink: /search
---

	<div class="container">



		<div class="row py-5">
			<div class="col-md-4 d-none d-lg-block">
				{% include sidebar.html %}
			</div>

			





			<div class="col-md-8">
				<div class="post">
					<div class="search-input">
						<form action="/search" method="GET">
							<input type="text" id="search-box" name="query" placeholder="Search...">
						</form>
						

					</div>

					<hr>

					<div class="archive-list">
						<ul id="search-results">
							
						<ul>
						

					</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
					<script>
  window.store = {
  	{% for collection in site.collections %}
  		{% assign flag = forloop.last %}
  		{{ flag }}
  		{% if collection.label != "posts" %}
    		{% for post in site.[collection.label] reversed %}
      			"{{ post.url | slugify }}": {
       			"title": "{{ post.title | xml_escape }}",
        		"date": "{{ post.date | date: "%-d %B %Y" | xml_escape }}",
        		"collection": "{{ collection.label }}",
        		"readtime": " 1 min read",
        		"content": {{ post.content | strip_html | strip_newlines | jsonify }},
        		"url": "{{ post.url | xml_escape }}"
      		}
      		{% if !flag %}
      			,
      		{% endif %}
      		{% if flag %}
      			{% unless forloop.last %},{% endunless %}
      		{% endif %}


    		{% endfor %}
    	{% endif %}
    	
    {% endfor %}
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous"></script>
<script src="assets/js/search.js"></script>
					



				</div>
			</div>
		</div>
	</div>