{% if page.collection %}
  {% assign posts = site[page.collection] | where:"layout", "post" | sort: 'date' %}

  {% if posts.size > 1 %}
    {% assign prevurl = posts.last.url %}
    {% assign nexturl = posts.first.url %}
  {% endif %}

  {% for links in posts %}
    {% if links.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = links %}
  {% endfor %}
  {% if posts.size > 1 %}
   	<div class="col-md-6">
      
        {% if prevurl %}
        <a href="{{ prevurl }}" class="previous-post">Previous Post</a>
        {% endif %}
    </div>
	<div class="col-md-6">
        {% if nexturl %}
        <a href="{{ next_post.url }}" class="next-post float-md-right">Next Post</a>
        {% endif %}
    </div>

   {% endif %}
{% endif %}

					

					