{% if page.collection %}
  {% assign posts = site[page.collection] | where:"layout", "post" %}


  {% for post in posts %}
    {% if post.title == page.title %}


      {% unless forloop.first %}
      	{% assign prev_i = forloop.index0 | minus: 1 %}
      	{% assign prev = posts[prev_i] %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}


    {% endif %}
    
  {% endfor %}
  {% if posts.size > 1 %}
   	<div class="col-md-6">
      
        {% if prevurl %}
 		<div class="previous-post">
        	<p class="previous-post-headline">Previous Post</p>
        	<p><a href="{{ prevurl }}" class="previous-post">{{prev.title}}</a></p>
        </div>

        
        {% endif %}
    </div>
	<div class="col-md-6">
        {% if nexturl %}
        <div class="float-md-right next-post">
        	<p class="float-md-right next-post-headline">Next Post</p>
        	<p><a href="{{ nexturl }}" class="next-post float-md-right">{{next.title}}</a></p>
        </div>

        
        
        {% endif %}
    </div>

   {% endif %}
{% endif %}

					

					