				<div class="sticky-top p-5 sidebar">
					<div class="text-center mx-auto">
						<img src="{{ site.url }}/assets/imgs/memoji.png">
					</div>
				
					<div class="sidebar-name">{{ site.author.name }}</div>
					<div class="sidebar-bio">{{ site.author.bio }}</div>
					<hr>
					<div class="sidebar-links">
						<ul class="fa-ul">
							<li>
								<span class="sidebar-icon"> <i class="fas fa-li fa-map-marker-alt"></i> </span>
								<span class="sidebar-text">{{ site.author.location }}</span>
							</li>

							{% for item in site.data.social-links %}

							<li>
								<span class="sidebar-icon">{{ item.icon }}</span>
								<span class="sidebar-link"><a href="{{ item.link }}">{{item.name}}</a></span>
							</li>

							{% endfor %}

							
						</ul>
					</div>	
				</div>