body {
	font-family: 'Inconsolata';
	font-size:18px;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
}
/*
.jumbotron {
	background: url("imgs/durham.jpg") no-repeat center center;
	background-size: 100% 100%; 
}
*/
.jumbotron {
	color:#000;
	padding-top:60px;
	padding-left:20px;
	padding-bottom:20px;
}

.jumbotron h1 {
	font-weight: 600;
}

.jumbotron p {
	font-weight: 500;
	margin-top:30px;
	margin-bottom:0;
}

.jumbotron a{
	font-size:1.2em;
	font-weight:500;
	color:#000;
}

.jumbotron a:hover{
	font-weight:700;
	text-decoration: none;
}


.recent-posts-index {
	margin-top:40px;
	margin-bottom: 20px;
}

.recent-posts-index h2 a{
	color:#000;
}

.recent-posts-index h2 a:hover {
	color:#000;
	text-decoration: none;
	font-weight: 600;
}

.see-more p a{
	font-size:20px; 
	color:#000;
}

.see-more p a:hover {
	text-decoration: none;
	font-weight: 600;
}

.card-title {
	font-weight:500;
	background-color: rgb(234, 236, 239);
	border-radius: 3px;
	padding:10px;
}

.card-title a {
	color:#000;
}

.card-title a:hover {
	text-decoration: none;
	font-weight:700;
}

.navbar-brand {
  /*width:150px;*/
  font-size: 28px;
  font-weight: 300;
  transition: font-weight 0.25s;
  color:#868e96;
}


.navbar-brand:hover {
	font-weight:600;
	color:#343a40;
}

.navbar-brand img {
  height: 50px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;

}

/* Change the background colour of the Navbar */
.bg-custom {
	background-color: #fff;
}

.navbar {
	font-weight: 300;
	font-size: 24px;
}

.nav-link:hover {
	font-weight: 600;
	/*text-decoration: underline;
	text-decoration-thickness: 3px;*/
	border-bottom: 3px solid;
	padding-bottom:3px;
	color:#343a40;

}

.nav-link {
	transition: font-weight 0.25s, border 0.25s, color 0.25s;
	color:#868e96;
}

.nav-link i {
	font-size: 20px;
}

.sidebar img {
	width:150px;
	height:150px;
}


.sidebar-name {
	text-align: center;
	font-weight: 400;
	font-size: 28px;
}

.sidebar-bio {
	font-size:18px;
}

.sidebar-links ul {
	list-style-type: none;
	margin-left:32px;
	margin-top:20px;
	padding-left:0;
	font-size:20px;
}

.fa-li {
	font-size: 20px;
}

.sidebar-link a{
	color:#343a40;
}

.sidebar-link a:hover {
	text-decoration: none;
	font-weight: 600;
}

.sidebar-links li {
	margin-top: 8px;
}

.footer {
	color:#fff;
}

.tags {
	margin-top: 30px;
	font-size: 1.0em;
}

.tag {
	border: 1px solid black;
	border-radius: 3px;
	padding:5px;
	color:#000;
}

.tag:hover {
	text-decoration: none;
	font-weight: 600;
	color:#343a40;
}

.categories {
	margin-top: 30px;
	font-size: 1.0em;
}

.category {
	border: 1px solid black;
	border-radius: 3px;
	padding:5px;
	color:#000;
}

.category:hover {
	text-decoration: none;
	font-weight: 600;
	color:#343a40;
}

.share-post p {
	margin:0;
}

.share-post li {
	display: inline;
  	list-style-type: none;
  	padding-right:0px;
  	width:20%;
}

.share-post i {
	position:static;
	font-size: 40px;
	padding:0;
	margin:0;
}

.share-post ul {
	padding:0;
	margin:0;
}

.share-twitter {
	color:#1da1f2;
}

.share-facebook {
	color:#3b5998;
	width:40px;
	text-align: center;
}

.share-linkedin {
	color:#0e76a8;
}

.share-email {
	color:#000;
}


.previous-post a, .next-post a{
	color:#000;
}

.previous-post a:hover, .next-post a:hover {
	text-decoration: none;
	font-weight: 600;
	color:#343a40;
}

.previous-post p, .next-post p {
	margin:0;
}

.previous-post-headline, .next-post-headline {
	text-decoration: underline;
	font-weight: 500;
}

.footer-statement {
	font-size: 0.9em;
}

.footer-statement a {
	color:#fff;
}

.footer-statement a:hover {
	font-weight: 800;
	text-decoration: none;
}

.footer-statement span {
	font-size: 1.2em;
}

.footer-image img {
	width:100px;
}

.footer-image {
	padding:0;
	margin: 0;
}

.footer-icons li {
	display: inline;
  	list-style-type: none;
  	padding-right:5px;
}

.footer-social-icons ul {
	padding:0;
}

.footer-social-icons i {
	color:#ddd;
	font-size:30px;
	position:static;
}

.footer-social-icons i:hover {
	color:#fff;
}

.footer-address p {
	margin:0;
	margin-left: 30px;
	padding:0;
}

.footer-address {
	margin:0;
	margin-top:20px;
}

.archive-list ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

.archive-post-title a {
	text-decoration: none;
	color:#000;
	font-weight: 600;
	font-size:1.1em
}
.archive-post-title a:hover {
	text-decoration: none;
	font-weight:800;
}

.archive-item {
	margin-top:20px;
}

.archive-faint {
	color:#868e96;
}

.archive-small {
	font-size:0.9em;
}

.card {
	width:100%;
}

.faint-text {
	color:#868e96;
}

#search-box {
	width:100%;
	border: 0px none;
	margin:0;
	font-size:1.3em;
}

.search-input input:focus {
	outline: none;
}

.search-input {
	margin:0;
}

.post {
	margin:0;
}

.recommendation-head {
	font-weight: 600;
	font-size:1.2em;
}

.recommendation-title a {
	font-weight: 600;
	text-decoration: none;
	color:#000;
}

.recommendation-title a:hover {
	text-decoration: none;
	font-weight: 800;
	color:#000;
}

.pnf-container{
	height:100%;
}

.pnf-text {
	text-align: center;
	margin-top:40px;
	font-size: 1.2em;
}

.pnf-text a {
	text-decoration: none;
	color:#000;
}

.pnf-text a:hover {
	color:#000;
	text-decoration: none;
	font-weight: 600;
}

.pnf-image {
	text-align: center;
}

.pnf-image img {
	width:150px;
}

