---
layout: default
---

<div class="container">



		<div class="row py-5">
			

			<div class="col-md-4 d-none d-lg-block">
				{% include sidebar.html %}
			</div>


			<div class="col-md-8">
				<div class="post">
					<div class="post-title">
						<h1>{{ page.title }}</h1>
					</div>
					<div class="row mt-4">
						<div class="col-md-7">
							<div class="posted-date faint-text">
								<i class="far fa-calendar"></i> Posted on {{ page.date | date: "%-d %B %Y" }}
							</div>
						</div>
						<div class="col-md-5">
							<div class="reading-time float-md-right faint-text">
								<i class="far fa-clock text-right"></i> {% include read-time.html content=page.content %}
							</div>
						</div>
					</div>

					{% if page.date-modified %}

					<div class="row">
						<div class="col-md-12 faint-text">
							<i class="far fa-edit"></i> Edited on {{ page.date-modified | date: "%-d %B %Y" }}
						</div>
					</div>

					{% endif %}

					<hr>
					<div class="post-content">
						

						{{ content }}


					</div>
					
					{% include tags.html %}

					

					<div class="share-post">
						<p>Share this post via</p>
						<ul>
							<li>
								<a href="http://twitter.com/share?text={{page.title}}&url={{site.url}}{{page.url}}&via={{site.author.twitter-username}}&related={{site.author.twitter-username}}" rel="nofollow" target="_blank" title="Share on Twitter">
									<i class="fab fa-li fa-twitter-square share-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
									<i class="fab fa-facebook-square share-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on LinkedIn">
									<i class="fab fa-li fa-linkedin share-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="mailto:?subject={{page.title}}&body=Hi, I found this post and thought you might like it: {{site.url}}{{page.url}}">
									<i class="fas fa-li fa-envelope-square share-email"></i>
								</a>
							</li>
						</ul>
					</div>

					<hr>

					<div class="row mb-2">
						{% include next-posts.html %}
					</div>

					<hr>

					<div class="recommendation-head mb-3">You might also like</div>
					
					<div class="row">

						{% assign coll = page.collection %}

						{% assign count = 0 %}
						{% for post in site.[coll] reversed %}
							{% if count < 3 %}
								{% if post.url != page.url %}
						<div class="col-lg-4">
							<div class="recommendation-title">
								<a href="{{post.url}}">{{ post.title | capitalize | truncate: 40 }}</a>
							</div>
							<div class="recommendation-readtime archive-small archive-faint">
								<i class="far fa-clock text-right mt-auto"></i> {% include read-time.html content=post.content %}
							</div>
							<div class="recommendation-content">
								<p>{{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}</p>
							</div>
						</div>
								{% assign count = count | plus: 1 %}
								{% endif %}
							{% endif %}
						
						{% endfor %}

					</div>


				</div>
			</div>

		</div>
	</div>