---
layout: default
---

<div class="container">



		<div class="row py-5">
			

			<div class="col-md-4 d-none d-lg-block">
				{% include sidebar.html %}
			</div>


			<div class="col-md-8">
				<div class="post">
					<div class="post-title">
						<h1>{{ page.title }}</h1>
					</div>
					<div class="row mt-4">
						<div class="col-md-7">
							<div class="posted-date">
								<i class="far fa-calendar"></i> Posted on {{ page.date | date: "%-d %B %Y" }}
							</div>
						</div>
						<div class="col-md-5">
							<div class="reading-time float-md-right">
								<i class="far fa-clock text-right"></i> 1 minute read
							</div>
						</div>
					</div>

					{% if page.date-modified %}

					<div class="row">
						<div class="col-md-12">
							<i class="far fa-edit"></i> Edited on {{ page.date-modified | date: "%-d %B %Y" }}
						</div>
					</div>

					{% endif %}

					<hr>
					<div class="post-content">
						

						{{ content }}


					</div>
					<div class="tags">
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="fas fa-tags"></i> Tags:
							</li>
							<li class="list-inline-item">
								<a href="#" class="tag">Tag 1</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="tag">Tag 2</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="tag">Tag 3</a>
							</li>
						</ul>
					</div>

					<div class="categories">
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="fas fa-folder-open"></i> Categories:
							</li>
							<li class="list-inline-item">
								<a href="#" class="category">Category 1</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="category">Category 2</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="category">Category 3</a>
							</li>
						</ul>
					</div>



					<hr>

					<div class="row mb-5">
						<div class="col-md-6">
							<a href="#" class="previous-post">Previous Post</a>
						</div>
						<div class="col-md-6">
							<a href="#" class="next-post float-md-right">Next Post</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>