---
layout: default
---

<div class="container">



		<div class="row py-5">
			

			<div class="col-md-4 d-none d-lg-block">
				{% include sidebar.html %}
			</div>


			<div class="col-md-8">
				<div class="post">
					<div class="post-title">
						<h1>{{ page.title }}</h1>
					</div>
					<div class="row mt-4">
						<div class="col-md-7">
							<div class="posted-date faint-text">
								<i class="far fa-calendar"></i> Posted on {{ page.date | date: "%-d %B %Y" }}
							</div>
						</div>
						<div class="col-md-5">
							<div class="reading-time float-md-right faint-text">
								<i class="far fa-clock text-right"></i> {% include read-time.html content=page.content %}
							</div>
						</div>
					</div>

					{% if page.date-modified %}

					<div class="row">
						<div class="col-md-12 faint-text">
							<i class="far fa-edit"></i> Edited on {{ page.date-modified | date: "%-d %B %Y" }}
						</div>
					</div>

					{% endif %}

					<hr>
					<div class="post-content">
						

						{{ content }}


					</div>
					
					{% include tags.html %}

					{% include categories.html %}

					{% include share-links.html %}

					<hr>

					<div class="row mb-2">
						{% include next-posts.html %}
					</div>

					<hr>

					{% include recommended-posts.html %}


				</div>
			</div>

		</div>
	</div>